<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
      <form class="container-fluid justify-content-start">
          <a class="btn btn-sm btn-outline-secondary" href="../scrape" role="button">Scrape New Data</a>
        <span class="navbar-text">
          Mission to Mars
        </span>
      </form>
  </nav>
  <div class="row">
      <div class="col-md-12">
        <h4 class="heading">Latest Mars News</h4>
        <h3 class="heading">{{mars.news_title}}</h3>
        <p>{{mars.news_p}}</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2 class=""><u>Featured Mars Image</u></h2> 
      </br>
      <img src="{{mars.features_image_url}}" alt="Mars Image" style="width:750px;height:750px;">
    </div>
    <div class="col-md-4">
      <div class="row">
          {{ mars.html_table | safe }}
      </div>
      <div class="row">
        <div class="col-md-8 offset-4">
          <h2 class="align-items-center"><u>Mars Hemispheres</u></h2>  
        </div>
      </div>
      </br>
      <div class="row">       
              {% for object in mars.hemeispheres %} 
                <div class="col-6">
                </br>
                      <div>
                        <img width="500 px" height="500 px" src="{{ object.img_url | safe }}">
                      </div>
  
                      <div>
                        <p> {{ object.title | safe }} <p>  
                      </div>
              
                </div>
              {% endfor %}
      </div> 
</body>

</html>